body{
    display: grid;
    grid-template-columns: 20px repeat(5, 1fr) 20px;
    grid-template-rows: 100px 1fr 1fr 1fr 1fr;
    min-height: 100vh;
    background-color: black;
    color: white;
    font-family: 'VT323', monospace;
    font-size: clamp(0.5rem, 2vw, 1rem);
}

header{
    grid-column: 1/4;
    grid-row: 2/3;
    display: flex;
    justify-content: center;
    font-size: 4.5em;
}

#timerHead{
    grid-column: 5/7;
    grid-row: 2/3;
    display: flex;
    justify-content: center;
    font-size: 4.5em;
}

#reminders {
    grid-column: 2/4;
    grid-row: 3/5;
}

#timer {
    grid-column: 5/7;
    grid-row: 3/5;
}

#timer-root {
    grid-column: 5/7;
    grid-row: 4/6;
}

#clock {
    display: flex;
    grid-column: 2/7;
    grid-row: 1/2;
    font-size: 5em;
    justify-content: center;
}

ul {
    margin: 10px;
    padding: 0px;
}

li {
    font-size: 2em;
    list-style-type: none;
}

li:hover {
    cursor: pointer;
    text-decoration: line-through 3px;
    font-weight: bold;
}

input{
    background: transparent;
    outline: none;
    color: inherit;
    font-family: 'VT323', monospace;
    font-size: 2em;
    width: 45%;
}

input[type="time"] {
    cursor: text;
    width: 30%;
}

button {
    background: transparent;
    outline: none;
    color: inherit;
    font-family: 'VT323', monospace;
    font-size: 2em;
    width: clamp(55px, 15%, 75px);
}

button:hover {
    cursor: pointer;
}
